.wallet{
    margin-top: 20px;
}

.wallet__statistic{
    display: grid;
    grid-template-columns: 7fr 3fr;
    margin-bottom: 30px;
    /* height: 500px; */
}

.wallet__chart{
    width: 1000px;
}

@media (max-width: 1340px){
    .wallet__chart{
        width: 600px;
    }
}

@media (max-width: 960px){
    .wallet__chart{
        width: 500px;
    }
    .wallet__statistic{
        grid-template-columns: auto auto;
    }
}

@media (max-width: 830px){
    .wallet__chart{
        width: 700px;
        height: 500px;
        margin-bottom: 20px;
    }

    .wallet__statistic{
        display: block;
    }
}

@media (max-width: 730px){
    .wallet__chart{
        width: 500px;
        height: 300px;
    }
}

@media (max-width: 520px){
    .wallet__chart{
        width: 350px;
        height: 250px;
    }
}