/* .market{
    margin-top: 30px;
} */

.market__inner{
    transition: all 5s ease-in-out;
   
}

.entering{
    opacity: 1;
}

.entered{
    opacity: 1;
}

.exiting{
    opacity: 0;
}

.exited{
    opacity: 0;
}




  

/* .market__inner{

} */

