
.item{
    display: block;
    padding: 20px 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin-bottom: 20px;
}

.item img{
    width: 20px;
    margin-right: 5px;
}

.item .name{
   color: #000;
   padding-bottom: 12px;
   display: flex;
   align-items: center;
}

.item .couple{
    color: #000;
    padding-bottom: 10px;
    text-transform: uppercase;
    /* text-decoration: u; */
}

.item .price{
    color: #000;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

@media (max-width: 520px){
    .item{
        padding: 15px 10px;
    }

    .item b{
        font-size: 16px;
    }
}

